head
  // MADE WITH LOVE BY <> SERGEY KHMELEVSKOY </>
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
  title Калибр

  //build:css css/styles.css
  link(href='components/normalize-css/normalize.css', rel='stylesheet')
  link(href='css/style.css', rel='stylesheet')
  link(href='css/swiper.css', rel='stylesheet')
  link(href='css/iconmoon.css', rel='stylesheet')
  link(href='css/jquery.fancybox.css', rel='stylesheet')
  //endbuild

  meta(name="description" keywords="")
