doctype html
html
  include shared/head
  body
    .modal-hidden
      #open_card.box-modal
        .box-modal_close.arcticmodal-close.card_close
        .modal_form
          .modal_top
            .modal_img
              div
                span
                  img(alt='', src='img/images/7.png')
            .modal_txt
              h4
                | Комплект абразивных сегментов МФ 3 (шлифовальная щетка 50 мм).
                span 925 рублей
              p
                | Комплект 28 штук для сборки шлифовального барабана 50 мм и оправки для электродрели.
                br
                |             Основа - влагостойкая шкурка на тканевой основе заказанной зернистости и щетина разной толщины.
              .modal_foot
                .number
                  span.minus -
                  input(type='text', value='1')
                  span.plus +
                a.but_gr(href='#') Положить в корзину
            .clearfix
          .modal_pohozhue
            h2 С ЭТИМ товарОМ еще покупают:
            .wr_modal_pohozhue
              a.pohozh_item(href='#')
                .pohozh_img
                  span
                    img(alt='', src='img/images/2.png')
                .pohozh_txt
                  h4 Втулка модульная В 25.
                  p 25 p.
              a.pohozh_item(href='#')
                .pohozh_img
                  span
                    img(alt='', src='img/images/3.png')
                .pohozh_txt
                  h4 Шайба универсальная ШУ.
                  p 50 p.
              a.pohozh_item(href='#')
                .pohozh_img
                  span
                    img(alt='', src='img/images/4.png')
                .pohozh_txt
                  h4 Шлифовальный барабан Б 100 мм.
                  p 2000 p.
              a.pohozh_item(href='#')
                .pohozh_img
                  span
                    img(alt='', src='img/images/5.png')
                .pohozh_txt
                  h4 Оправка для электродрели.
                  p 1650 p.
    .wraper
      .closed_menu
      .closed_menu2
      header.header
        .conteiner
          .top
            .top_left
              a.tel1(href='tel:+79165136193')
                i.fa.fa-mobile(aria-hidden='true')
                | +7 (916) 513-61-93, +7 (900) 099-07-08
              a.tel2(href='tel:%20+74959946496')
                i.fa.fa-phone(aria-hidden='true')
                |  +7 (495) 994-64-96
            .top_right
              a.skype(href='#')
                i.fa.fa-skype(aria-hidden='true')
                |  rodnik1718
              a.mail(href='mailto:calibr_plus@mail.ru')
                i.fa.fa-envelope-o(aria-hidden='true')
                |  calibr_plus@mail.ru, ssn1718@mail.ru
            .clearfix
          .top2
            .menu_mob
              button.pull
                i.fa.fa-bars(aria-hidden='true')
                i.fa.fa-times(aria-hidden='true')
                |  Меню
              ul
                li
                  a(href='#') ПРОДУКЦИЯ
                li
                  a(href='#') Акции и скидки
                li
                  a(href='#') Доставка и оплата
                li
                  a(href='#') О компании
            .left_top2
              a.pull2
                i.fa.fa-phone(aria-hidden='true')
                | Заказать обратный звонок
              .wrap_form
                h4 МЫ ПЕРЕЗВОНИМ ВАМ
                form
                  input.input_one(placeholder='Ваше имя', type='text')
                  input.input_one(placeholder='Ваш Email', required='', type='email')
                  input.input_one.inp_phone(placeholder='Телефон', type='tel')
                  input.but_gr(type='submit', value='ОТПРАВИТЬ ЗАЯВКУ')
            a.logo(href='#')
              | КАЛИБР плюс
              span Выбирайте КАЛИБР, а плюсы мы обеспечим!
            a.basket_top(href='#')
              span.much 18 598 р
              i.icon-handbag.icons
              span.quantity 32
            .clearfix
      section.navigation
        .conteiner
          ul
            li
              a(href='#') ПРОДУКЦИЯ
            li
              a(href='#') Акции и скидки
            li
              a(href='#') Доставка и оплата
            li
              a(href='#') О компании
      section.page_basket
        .conteiner
          .wrap_bord
            h2 Сожержимое корзины
          .wrap_basket
            .basket_tb
              .basket_head
                p.cell1_1 Наименование
                p.cell2_1 цена, руб.
                p.cell3_1 кол-во
                p.cell4_1 итого, руб.
                p.cell5_1
                .clearfix
              .basket_row
                .cell1_1
                  h3 Наименование
                  .basket_img
                    span
                      img(alt='', src='img/images/2.png')
                  p Комплект абразивных сегментов МФ 1 (шлифовальная щетка 200 мм).
                .cell2_1
                  h3 цена, руб.
                  p 2465.00
                .cell3_1
                  h3 кол-во
                  input(type='text', value='2')
                .cell4_1
                  h3 итого, руб.
                  p 4930.00
                .cell5_1
                  a.delete(href='#')
                .clearfix
              .basket_row
                .cell1_1
                  h3 Наименование
                  .basket_img
                    span
                      img(alt='', src='img/images/3.png')
                  p Шлифовальный барабан Б 200 мм.
                .cell2_1
                  h3 цена, руб.
                  p 3250.00
                .cell3_1
                  h3 кол-во
                  input(type='text', value='3')
                .cell4_1
                  h3 итого, руб.
                  p 9750.00
                .cell5_1
                  a.delete(href='#')
                .clearfix
            .after_basket
              .basket_left
                a(href='#') очистить корзину
                a(href='#') пересчитать цену
              .basket_right
                a(href='#') продолжить покупки
              .clearfix
            .basket_info
              h2 покупатель
              .basket_info_left
                .info_block
                  input.input_one(placeholder='E-mail', required='', type='email')
                  input.input_one(placeholder='ФИО', type='text')
                .info_block
                  input.input_one(placeholder='Компания', type='text')
                  input.input_one.inp_phone(placeholder='Телефон', type='tel')
                .clearfix
              .clearfix
            .basket_info
              h2 Адрес доставки
              .basket_info_left
                .info_block
                  input.input_one(placeholder='Город', type='text')
                  input.input_one(placeholder='Адрес', type='text')
                  input.input_one(placeholder='Индекс', type='text')
                .info_block
                  input.input_one(placeholder='ИНН компании получателя', type='text')
                  input.input_one(placeholder='Паспорт получателя (для физ.лица:серия, номер)', type='text')
                  input.input_one(placeholder='Зернистость разбивка кол-ва по зернистости)', type='text')
                .clearfix
                input.input_one(placeholder='Комментарии к заказу, пожелания', type='text')
              .basket_info_right
                .muches
                  p
                    | Промежуточный итог
                    span 14680.00 р.
                  h4
                    | Итого к оплате
                    span 14 680.00 р.
                a(href='')
                  | ОФОРМИТЬ ЗАКАЗ
                  span (запросить счет)
              .clearfix
      footer.footer
        .foot_up
          .conteiner
            .foot_item.foot_item1
              h4 О КОМПАНИИ
              p
                | Чем больше калибр, тем мощнее оружие, наличие в нем прочих плюсов определяет ПОБЕДУ и УСПЕХ. Итак: КАЛИБР и плюс.
                br
                |             Выбирайте КАЛИБР, а плюсы мы обеспечим!
            .foot_item.foot_item2
              h4 мы в соцсетях
              .soc
                a(href='#')
                  i.fa.fa-camera-retro(aria-hidden='true')
                a(href='#')
                  i.fa.fa-vk(aria-hidden='true')
                a(href='#')
                  i.fa.fa-facebook-square(aria-hidden='true')
                a(href='#')
                  i.fa.fa-youtube-play(aria-hidden='true')
            .foot_item.foot_item3
              h4 КОНТАКТЫ
              p
                | Россия, 143500, МО,
                br
                |             г. Истра, ул. Родниковая, 18.
                a(href='tel:+74959946496') +7 (495) 994-64-96
                a(href='tel:+79165136193') +7 (916) 513-61-93
                a(href='tel:+79000990708') +7 (900) 099-07-08
                a(href='mailto:calibr_plus@mail.ru') E-mail: calibr_plus@mail.ru, ssn1718@mail.ru
            .foot_item.foot_item4
              h4 рассылка
              p Подпишитесь на нашу еженедельную рассылку:
              form
                input.input_two(placeholder='Имя', type='text')
                input.input_two(placeholder='E-mail', required='', type='email')
                input.but_gr(type='submit', value='ПОДПИСАТЬСЯ!')
            .clearfix
        .foot_down
          .conteiner
            p КАЛИБР плюс © 2017
            ul
              li
                a(href='#') ПРОДУКЦИЯ
              li
                a(href='#') Акции и скидки
              li
                a(href='#') Доставка и оплата
              li
                a(href='#') О компании
            .clearfix
    include shared/scripts
