doctype html
html
  include shared/head

  body
    .modal-hidden
      #open_card.box-modal
        .box-modal_close.arcticmodal-close.card_close
        .modal_form
          .modal_top
            .modal_img
              div
                span
                  img(alt='', src='img/images/7.png')
            .modal_txt
              h4
                | Комплект абразивных сегментов МФ 3 (шлифовальная щетка 50 мм).
                span 925 рублей
              p
                | Комплект 28 штук для сборки шлифовального барабана 50 мм и оправки для электродрели.
                br
                |             Основа - влагостойкая шкурка на тканевой основе заказанной зернистости и щетина разной толщины.
              .modal_foot
                .number
                  span.minus -
                  input(type='text', value='1')
                  span.plus +
                a.but_gr(href='#') Положить в корзину
            .clearfix
          .modal_pohozhue
            h2 С ЭТИМ товарОМ еще покупают:
            .wr_modal_pohozhue
              a.pohozh_item(href='#')
                .pohozh_img
                  span
                    img(alt='', src='img/images/2.png')
                .pohozh_txt
                  h4 Втулка модульная В 25.
                  p 25 p.
              a.pohozh_item(href='#')
                .pohozh_img
                  span
                    img(alt='', src='img/images/3.png')
                .pohozh_txt
                  h4 Шайба универсальная ШУ.
                  p 50 p.
              a.pohozh_item(href='#')
                .pohozh_img
                  span
                    img(alt='', src='img/images/4.png')
                .pohozh_txt
                  h4 Шлифовальный барабан Б 100 мм.
                  p 2000 p.
              a.pohozh_item(href='#')
                .pohozh_img
                  span
                    img(alt='', src='img/images/5.png')
                .pohozh_txt
                  h4 Оправка для электродрели.
                  p 1650 p.
    .wraper
      .closed_menu
      .closed_menu2
      header.header
        .conteiner
          .top
            .top_left
              a.tel1(href='tel:+79165136193')
                i.fa.fa-mobile(aria-hidden='true')
                | +7 (916) 513-61-93, +7 (900) 099-07-08
              a.tel2(href='tel:%20+74959946496')
                i.fa.fa-phone(aria-hidden='true')
                |  +7 (495) 994-64-96
            .top_right
              a.skype(href='#')
                i.fa.fa-skype(aria-hidden='true')
                |  rodnik1718
              a.mail(href='mailto:calibr_plus@mail.ru')
                i.fa.fa-envelope-o(aria-hidden='true')
                |  calibr_plus@mail.ru, ssn1718@mail.ru
            .clearfix
          .top2
            .menu_mob
              button.pull
                i.fa.fa-bars(aria-hidden='true')
                i.fa.fa-times(aria-hidden='true')
                |  Меню
              ul
                li
                  a(href='#') ПРОДУКЦИЯ
                li
                  a(href='#') Акции и скидки
                li
                  a(href='#') Доставка и оплата
                li
                  a(href='#') О компании
            .left_top2
              a.pull2
                i.fa.fa-phone(aria-hidden='true')
                | Заказать обратный звонок
              .wrap_form
                h4 МЫ ПЕРЕЗВОНИМ ВАМ
                form
                  input.input_one(placeholder='Ваше имя', type='text')
                  input.input_one(placeholder='Ваш Email', required='', type='email')
                  input.input_one.inp_phone(placeholder='Телефон', type='tel')
                  input.but_gr(type='submit', value='ОТПРАВИТЬ ЗАЯВКУ')
            a.logo(href='#')
              | КАЛИБР плюс
              span Выбирайте КАЛИБР, а плюсы мы обеспечим!
            a.basket_top(href='#')
              span.much 18 598 р
              i.icon-handbag.icons
              span.quantity 32
            .clearfix
      section.navigation
        .conteiner
          ul
            li
              a(href='#') ПРОДУКЦИЯ
            li
              a(href='#') Акции и скидки
            li
              a(href='#') Доставка и оплата
            li
              a(href='#') О компании
      section.wrap_akcii
        .conteiner
          .left_block
            .wrap_statia
              h2 Главное правило шлифования древесины
              .statia_item
                .statia_img
                  img(alt='', src='img/icons/statia/9.jpg')
                  span Рис. 1.
                .statia_txt
                  p
                    | Шлифование – это, как известно, процесс обработки поверхности заготовок абразивными режущими инструментами. При шлифовании микрорезание (царапание) поверхностного слоя изделия производится большим числом мелких зёрен, объединённых в инструмент с помощью связки. Цели шлифования – это придание гладкости и выравнивание поверхности, а также удаление верхнего слоя материала для обеспечения заданной толщины изделия.
              .statia_item
                .statia_img
                  img(alt='', src='img/icons/statia/10.jpg')
                  span Рис. 2.
                .statia_txt
                  p
                    | В деревообрабатывающей промышленности для этой цели широко применяются шлифовальные ленты (ремни) и щетки. Строение шлифовального ремня можно видеть на рис. 1 и 2.
                  p
                    | Для того, чтобы добиться высоких результатов, необходимо знать и строго соблюдать главное правило шлифования. Оно заключается в следующем: шлифовать параллельно волокнам, а не перпендикулярно.
                  p
                    | Каждая гранула абразива – это маленький резец. Поскольку большинство гранул имеет отрицательный угол резания, при шлифовании образуется микростружка резаного типа.
                    br
                    |                 Это действие вырезает поперечные стенки волокон при шлифовании вдоль, но при шлифовании поперёк, оно приводит к получению «обтрёпанных» краёв волокон. Как и при фрезеровании, шлифовать надо вдоль волокна
                  p
                    | Лучшие результаты получаются при шлифовании несколькими абразивами, причём зерно каждого последующего должно оставлять царапину, по меньшей мере, в два раза более мелкую, чем зерно предыдущего. Однако, стоит только пропустить одну ступень – и вас ждёт разочарование. На гладкой, и в целом хорошо отшлифованной, поверхности вы заметите несколько царапин, оставшихся от самой грубой шкурки.
              .statia_item
                .statia_img
                  img(alt='', src='img/icons/statia/11.jpg')
                .statia_txt
                  p
                    | При шлифовании поперёк волокна, даже при кажущейся гладкости поверхности, разрушенные волокна могут дать неровное отражение света, или неравномерное впитывание морилки или лака. Такая поверхность может впоследствии выдать проблему «торчащих» волокон и плохое прилегание покрытия. Особенно у древесины твёрдых пород вы можете быть удовлетворены качеством шлифования поперёк волокна, но микроскопическая «шерстистость» приведёт к пятнистой окраске.
              .statia_item
                .statia_img
                  img(alt='', src='img/icons/statia/12.jpg')
                .statia_txt
                  p
                    | При любой машинной обработке древесины на её поверхности остаются хрупкие контуры разрушенных волокон. В дальнейшем, при абсорбции и десорбции влаги, они покоробятся и будут торчать над поверхностью. В тех случаях, когда поверхностное покрытие закроет их в дальнейшем, об этом можно не волноваться. В противном случае, их лучше удалить. В тёплой и сухой атмосфере поверхность дерева нужно протереть слегка влажной тряпкой. Влага будет абсорбирована этими волокнами, и они поднимутся над поверхностью. После этого её шлифуют без прижима очень тонкой (зерно 600) лентой. Трюк заключается в том, чтобы удалить выступающие волокна, не разрушив остальной поверхности, что приведёт к появлению таких же волокон. Таким образом можно получить чрезвычайно высокое качество.
          .right_block
            .rb1
              .swiper-container2
                .swiper-wrapper
                  .swiper-slide
                    .vid_item
                      a.video_item.fancybox-media(data-fancybox-group='otchet', href='https://www.youtube.com/watch?v=GpOaSh-xao0')
                        img(alt='', src='img/icons/video.jpg')
                      .vid_txt
                        div
                          h4 Обучающее видео 01.
                          p Пару слов из описания видео выглядело бы информативнее. Пару слов из описания...
                  .swiper-slide
                    .vid_item
                      a.video_item.fancybox-media(data-fancybox-group='otchet', href='https://www.youtube.com/watch?v=GpOaSh-xao0')
                        img(alt='', src='img/icons/video.jpg')
                      .vid_txt
                        div
                          h4 Обучающее видео 01.
                          p Пару слов из описания видео выглядело бы информативнее. Пару слов из описания...
                  .swiper-slide
                    .vid_item
                      a.video_item.fancybox-media(data-fancybox-group='otchet', href='https://www.youtube.com/watch?v=GpOaSh-xao0')
                        img(alt='', src='img/icons/video.jpg')
                      .vid_txt
                        div
                          h4 Обучающее видео 01.
                          p Пару слов из описания видео выглядело бы информативнее. Пару слов из описания...
                // Add Pagination
                .swiper-pagination2
            .rb2
              h4 Помощник
              span выбора товара
              a(href='#') Воспользоваться
          .clearfix
      section.block3
        .conteiner
          .wrap_bord
            h2.title ПОЛЕЗНЫЕ СТАТЬИ
          .wrap_polza
            .polza_item
              .polza_img(style='background:url(img/icons/polza/1.jpg) no-repeat top center;background-size:cover;')
              .polza_txt
                .wr_polza_txt
                  p
                    | Собирайте легко и правильно Шлифовальный барабан - ИНСТРУКЦИЯ по сборке шлифовального барабана (на примере шириной 200 мм).
                a(href='#') Читать далее >
              .clearfix
            .clearfix
      section.block_txt
        .conteiner
          h4 Здест будет город-сад!
          p
            | Будет тут текст, пока не известно о чем. Но он будет, объём его тоже пока не известен. Его будут вставлять уже на домене. Будет тут текст, пока не известно о чем. Но он будет, объём его тоже пока не известен. Его будут вставлять уже на домене. Будет тут текст, пока не известно о чем. Но он будет, объём его тоже пока не известен. Его будут вставлять уже на домене. Будет тут текст, пока не известно о чем. Но он будет, объём его тоже пока не известен. Его будут вставлять уже на домене.
      footer.footer
        .foot_up
          .conteiner
            .foot_item.foot_item1
              h4 О КОМПАНИИ
              p
                | Чем больше калибр, тем мощнее оружие, наличие в нем прочих плюсов определяет ПОБЕДУ и УСПЕХ. Итак: КАЛИБР и плюс.
                br
                |             Выбирайте КАЛИБР, а плюсы мы обеспечим!
            .foot_item.foot_item2
              h4 мы в соцсетях
              .soc
                a(href='#')
                  i.fa.fa-camera-retro(aria-hidden='true')
                a(href='#')
                  i.fa.fa-vk(aria-hidden='true')
                a(href='#')
                  i.fa.fa-facebook-square(aria-hidden='true')
                a(href='#')
                  i.fa.fa-youtube-play(aria-hidden='true')
            .foot_item.foot_item3
              h4 КОНТАКТЫ
              p
                | Россия, 143500, МО,
                br
                |             г. Истра, ул. Родниковая, 18.
                a(href='tel:+74959946496') +7 (495) 994-64-96
                a(href='tel:+79165136193') +7 (916) 513-61-93
                a(href='tel:+79000990708') +7 (900) 099-07-08
                a(href='mailto:calibr_plus@mail.ru') E-mail: calibr_plus@mail.ru, ssn1718@mail.ru
            .foot_item.foot_item4
              h4 рассылка
              p Подпишитесь на нашу еженедельную рассылку:
              form
                input.input_two(placeholder='Имя', type='text')
                input.input_two(placeholder='E-mail', required='', type='email')
                input.but_gr(type='submit', value='ПОДПИСАТЬСЯ!')
            .clearfix
        .foot_down
          .conteiner
            p КАЛИБР плюс © 2016
            ul
              li
                a(href='#') ПРОДУКЦИЯ
              li
                a(href='#') Акции и скидки
              li
                a(href='#') Доставка и оплата
              li
                a(href='#') О компании
            .clearfix
    include shared/scripts
